@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import '@fortawesome/fontawesome-free/css/all.min.css';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Impede scroll horizontal */

}

.circle-icon {
    background-color: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

body {
  @apply min-h-screen bg-gradient-to-b from-[#b6cafa] to-white sticky;
}

.font-roboto {
  font-family: 'Roboto Condensed', sans-serif;
 }

.font-vollkorn { font-family: 'Vollkorn', serif; }

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}
